<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Page</title>
    <link href="https://fonts.googleapis.com/css?family=Vidaloka" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./style.css">

     <!--Scripts for slider.js on and nav color change-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/colorchange.js"></script>


</head>


<body>

 <!--"change" is the jquery code used to change the nav bar color-->
  <nav class="navbar navbar-expand-lg change">
    <div class="container-fluid logobuttons">
                 <a class="navbar-brand" href="/index">
                   <img src="../images/niceMDlogo.png " class="logoId" alt="Enchanted Lighting">
                 </a>
                <div id="linkbuttons" class="container-fluid">
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="collapse navbar-collapse" id="navbarNav">
                   <ul class="nav navbar-nav buttons">
                     <li class="nav-item active">
                       <a class="nav-item nav-link" href="/products">Products<span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-item nav-link" href="/services">Services</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-item nav-link" href="/contact">Contact</a>
                     </li>
                   </ul>
                 </div>
               </div>
 </div>


 <div class="silouette">
  <!--  Silouette contains the attribute for the black lamps in the Navbar -->
  </div>


 </nav>

        <div class="spacer"></div>

      <div class="container">

        <div class="text-center">
          <h2>Contact Page</h2>
          <br>
          <p class="lead">We are open at 8AM <br> We are located at 123 Fake street</p>
        </div>

      </div><!-- /.container -->

      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <!-- <div class="map"> -->
        <div class="mapouter">
          <div class="gmap_canvas">
              <iframe width="1600" height="900" id="gmap_canvas" src="https://maps.google.com/maps?q=6909%20Preston%20Road%20University%20Park%2C%20TX%2075205%20USA&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0" margin="100px">
            </iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
          </div>
          <style>
          .mapouter{position:relative;text-align:right;height:500px;width:600px;}
          .gmap_canvas {overflow:hidden;background:none!important;height:1000px;width:1600px;margin:100px}
          </style>

        </div>

      </div>



      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.2/jquery.plugin.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.2/jquery.countdown.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>



</body>

</html>

