<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>

    <link href="https://fonts.googleapis.com/css?family=Vidaloka" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/products.css" />

    <!--Scripts for slider.js on and nav color change-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/colorchange.js"></script>
     <script type="text/javascript" src="/js/slider.js"></script>

</head>


<body>

  <!--"change" is the jquery code used to change the nav bar color-->

  <div class="jumbotron prodtron change">
    <div class="container text-center">
        <a href="/index"><img src="../images/niceMDlogo.png " class="logoId" alt="Enchanted Lighting">
        </a>
      <p>Highland Park, TX</p>
    </div>
  </div>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index">Enchanted Lighting</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/index">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
        </ul>
      </div>
    </div>
  </nav>

<!-- 1. Jquery slider showing different lamps -->
<!-- 2. 1 row 2 columns 1 column with products/lines of lamps he carries- 1 column with services/customs lamps-repair etc. and video of lamp being made?  -->
<!-- 3. footer with instagram facebook links etc -->

<!-- Jquery Image slider-->

  <div id="slider">
      <ul class="slides">
          <li class="slide slide1"><img src="../images/lamp12.jpg " class="JQimage" alt="lamp12"></li>
          <li class="slide slide2"><img src="../images/lamp3.jpg " class="JQimage" alt="lamp3"></li>
          <li class="slide slide3"><img src="../images/lamp15.jpg " class="JQimage" alt="lamp15"></li>
          <li class="slide slide4"><img src="../images/lamp16.jpg " class="JQimage" alt="lamp16"></li>
          <li class="slide slide5"><img src="../images/lamp17.jpg " class="JQimage" alt="lamp17"></li>
          <li class="slide slide1"><img src="../images/lamp20.jpg " class="JQimage" alt="lamp20"></li>
      </ul>
  </div>

  <footer class="container-fluid text-center">
    <p>Online Store Copyright</p>
    <form class="form-inline">Get deals:
      <input type="email" class="form-control" size="50" placeholder="Email Address">
      <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
  </footer>




<!-- <footer>
  <div id="clock">
    <div id="countdownText" style="padding:10px">
            <span class="open">We Will Be Back In</span>
            <span class="close">Time Left to Buy a Lamp Today</span>
    </div>
    <div id="timer"></div>
  </div>
</footer> -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.2/jquery.plugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.2/jquery.countdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

<script type="text/javascript" src="/js/clock.js"></script>
<!-- <script language="javascript" type="text/javascript" src="../public/js/clock.js"></script> -->


<script>
(function (document, window, undefined) {
  'use strict';

  var toggleNav = function () {
    if ($('.site-canvas').hasClass('site-canvas--active')) {
      // Nav Close
      $('.site-canvas').removeClass('site-canvas--active');
      $('.close-canvas').removeClass('close-canvas--active');
    } else {
      // Nav Open
      $('.site-canvas').addClass('site-canvas--active');
      $('.close-canvas').addClass('close-canvas--active');
    }
  }

  // Toggle Nav on Click
  $('.toggle-nav, .close-canvas').click(function() {
    toggleNav();
  });

})(document, window);
</script>
</body>


</html>