<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>

    <link href="https://fonts.googleapis.com/css?family=Vidaloka" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./style.css">

     <!--Scripts for slider.js -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
     <script type="text/javascript" src="/js/colorchange.js"></script>
     <script type="text/javascript" src="/js/slider.js"></script>

</head>


<body>

  <!--"change" is the jquery code used to change the nav bar color-->

  <nav class="navbar navbar-expand-lg change">
    <div class="container-fluid logobuttons">
                 <a class="navbar-brand" href="/index">
                   <img src="../images/niceMDlogo.png " class="logoId" alt="Enchanted Lighting">
                 </a>
                <div id="linkbuttons" class="container-fluid">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                 <div class="collapse navbar-collapse" id="navbarNav">
                   <ul class="nav navbar-nav buttons">
                     <li class="nav-item active">
                       <a class="nav-item nav-link" href="/products">Products<span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-item nav-link" href="/services">Services</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-item nav-link" href="/contact">Contact</a>
                     </li>
                   </ul>
                 </div>
               </div>
            </div>

  <div class="silouette">
    <!--  Silouette contains the attribute for the black lamps in the Navbar -->
  </div>
</nav>

<!-- 1. Jquery slider showing different lamps -->
<!-- 2. 1 row 2 columns 1 column with products/lines of lamps he carries- 1 column with services/customs lamps-repair etc. and video of lamp being made?  -->
<!-- 3. footer with instagram facebook links etc -->

<!-- Jquery Image slider-->

  <div id="slider">
      <ul class="slides">
          <li class="slide slide1"><img src="../images/lamp12.jpg " class="JQimage" alt="lamp12"></li>
          <li class="slide slide2"><img src="../images/lamp3.jpg " class="JQimage" alt="lamp3"></li>
          <li class="slide slide3"><img src="../images/lamp15.jpg " class="JQimage" alt="lamp15"></li>
          <li class="slide slide4"><img src="../images/lamp16.jpg " class="JQimage" alt="lamp16"></li>
          <li class="slide slide5"><img src="../images/lamp17.jpg " class="JQimage" alt="lamp17"></li>
          <li class="slide slide1"><img src="../images/lamp20.jpg " class="JQimage" alt="lamp20"></li>
      </ul>
  </div>






<footer>
  <div id="clock">
    <div id="countdownText" style="padding:10px">
            <span class="open">We Will Be Back In</span>
            <span class="close">Time Left to Buy a Lamp Today</span>
    </div>
    <div id="timer"></div>
  </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.2/jquery.plugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.2/jquery.countdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

<script type="text/javascript" src="/js/clock.js"></script>
<!-- <script language="javascript" type="text/javascript" src="../public/js/clock.js"></script> -->


<script>
(function (document, window, undefined) {
  'use strict';

  var toggleNav = function () {
    if ($('.site-canvas').hasClass('site-canvas--active')) {
      // Nav Close
      $('.site-canvas').removeClass('site-canvas--active');
      $('.close-canvas').removeClass('close-canvas--active');
    } else {
      // Nav Open
      $('.site-canvas').addClass('site-canvas--active');
      $('.close-canvas').addClass('close-canvas--active');
    }
  }

  // Toggle Nav on Click
  $('.toggle-nav, .close-canvas').click(function() {
    toggleNav();
  });

})(document, window);
</script>
</body>


</html>