<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    
    <link href="https://fonts.googleapis.com/css?family=Vidaloka" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./test.css">
     
     


</head>


<body>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
                 <a class="navbar-brand" href="/index">
                   <img src="../images/niceMDlogo.png " class="logoId" alt="Enchanted Lighting">
                 </a>
                <div id="linkbuttons" class="container-fluid">  
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="collapse navbar-collapse" id="navbarNav">
                   <ul class="nav navbar-nav buttons">
                     <li class="nav-item active">
                       <a class="nav-item nav-link" href="/products">Products<span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-item nav-link" href="/services">Services</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-item nav-link" href="/contact">Contact</a>
                     </li>
                   </ul>
                 </div>
               </div>
 </div>
 
               
                   <div class="test">
                   <!--  <img src="../images/navlamps.png" class="silouette" alt="Black Lamps"> -->
                   </div>
               
       
 </nav>
<div class="spacer"></div>




<!-- Cards for featured items -->
<div class="featCard flex-container">
    <div class="row">
        <!-- <div class="col-lg-3">
          <div class="box">
            <div class="featItem">
              
            </div>

          </div>
        </div>
        <div class="col-lg-3">
          <div class="box">

          </div>
        </div>
        <div class="col-lg-3">
          <div class="box">

          </div>
        </div> -->
        
    </div>
</div>

<!-- Side bar for todays information -->
<!-- <div class="sidebar">
    <div>
        <ul>
          <h1>Featured Items</h1>
          <li>this is something</li>
          <li>stuff is stuff</li>
          <li>here we go</li>
        </ul>
      </div>
</div> -->
<!-- Info about the shop -->
<div class="shopInfo">
  <div class="infoBar">

  </div>
</div>

<!-- off canvas -->
<div class="site-wrapper">  
  <div class="site-canvas">    
    
    <nav class="site-menu" id="site-menu">
      
      <h2>Store News</h2>       
      <ul>
        <li>Sale On Baseball Lamps 50% off</li>
        <li>Watch Baird Make a Lamp</li>
        <li>Watch Baird eat a sandwich</li>
      </ul>
      
    </nav>
    <div class="site-content">
    
      <header class="header">
        <a href="#" class="toggle-nav">&#x2261;</a>     
        <h1>Special Store Info</h1>     
      </header>
      
      <div class="content">
        <div class="card-deck">
          <div class="card">
            <img src="images/lamp14.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lovers Delight</h5>
              <p class="card-text">Buy this lamp for your lover or your wife, makes a great christmas gift.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img src="/images/lamp17.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blue Bird Suprise</h5>
              <p class="card-text">This lamp doubles as a bong.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img src="/images/lamp15.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Afgan Carpet</h5>
              <p class="card-text">Modeled after a carpet if saw when I was eating goolab-ja-moon.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">On sale for 5 more days.</small>
            </div>
          </div>
        </div>
          
    </div>
    <div class="close-canvas"></div>
    <div id="clock">
      <div id="countdownText" style="padding:10px">
              <span class="open">We Will Be Back In</span>
              <span class="close">Time Left to Buy a Lamp Today</span>
      </div>
      <div id="timer"></div>
    </div>  
   </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
           
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.2/jquery.plugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.2/jquery.countdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

<script type="text/javascript" src="/js/clock.js"></script>
<!-- <script language="javascript" type="text/javascript" src="../public/js/clock.js"></script> -->

<script>
  $(document).ready(function(){
  $(".change").on({

      mouseenter: function(){
          $(this).css("background-color", "yellow");
          $(this).css("font-size", "24px");
          $(this).css("color", "black");
          $(this).css("font-family", "Vidaloka", "serif");
          },
      mouseleave: function(){
          $(this).css("background-color", "grey");
          $(this).css("font-size", "24px");
          $(this).css("color", "yellow");
          $(this).css("font-family", "Vidaloka", "serif");
      }  
  });
});
</script>
<script>
(function (document, window, undefined) {
  'use strict';  
  
  var toggleNav = function () {
    if ($('.site-canvas').hasClass('site-canvas--active')) {
      // Nav Close
      $('.site-canvas').removeClass('site-canvas--active');
      $('.close-canvas').removeClass('close-canvas--active');
    } else {
      // Nav Open
      $('.site-canvas').addClass('site-canvas--active');
      $('.close-canvas').addClass('close-canvas--active');
    }
  }
  
  // Toggle Nav on Click
  $('.toggle-nav, .close-canvas').click(function() {        
    toggleNav();
  });
  
})(document, window);
</script>
</body>

 
</html>