

.lamps {
    max-width: 1200px;

 }

 .silouette {
     background-image: url(../images/navlamps.png);
     background-repeat: no-repeat;
     background-size: cover;
     width:99%;
     padding-bottom: 10.25%;

 }

 #navbarNav {
     width: 100%;
    font-size: 30px;
 }

 .navbar-expand-lg {
     background-color: yellow;
     box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
     margin-top: 18px;
     padding: 2px;
 }

 #linkbuttons {
     width: 100%;

     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }

 .container-fluid {
     width: 64%;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }

 .nav-link {
     color: black;
 }