body {
    /* padding: 26px 50px; */
    background: url(https://image.freepik.com/free-photo/old-brick-wall-textures-background_74190-1958.jpg);
    /*background-image: url(/images/greytextbackgrdwallpaper.jpg); */
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: initial;
  }


.navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }

  /* Remove the jumbotron's default bottom margin */
   .jumbotron {
    margin-bottom: 0;
    background-color: black;
  }

  .jumbotron .container {
    max-width: 18%;
}

  .jumbotron.prodtron {
    background-image: url(../images/navlamps.png);
  }

.container.text-center {
    border-style: solid;
    border-color: darkorange;
    background-color: yellow;
    box-shadow: 7px 12px 13px 14px rgba(40, 85, 57, 0.5);
    width: 21%;
    margin: 0% 0% -1% 36%;
    padding-left: 0%;
    padding-right: 0%;
    border-radius: 83px;
    border-width: 6px;
}

.logoId {
    height: 55%;
    width: 68%;
    margin-top: 4%;
    margin-bottom: 1%;
}
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
/* Controls prod page prod columns */
  .col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 50px;
    padding-left: 45px;
}

  /*controls lamps in navbar */
/* .silouette {
    background-image: url(../images/navlamps.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 87%;
     height: 121%;
    padding-bottom: 7%;
    padding-top: 2%;
    margin-bottom: -1%;
    margin-top: -1%;
    margin-right: -25%;
    margin-left: 3%;
    padding-left: 31%;
    padding-right: 7%;
    padding-top: 3%;
  } */