
body {
  padding: 26px 50px;
  background: url(https://image.freepik.com/free-photo/dark-grunge-texture_1048-4055.jpg?1);
  /*background-image: url(/images/greytextbackgrdwallpaper.jpg); */
  background-repeat: repeat;
  background-size: 100%;
  background-position: initial;
}
/*background urls for body
1. light gray https://image.freepik.com/free-photo/close-up-blank-old-concrete-wall_23-2147856094.
2. light grey bricks https://image.freepik.com/free-photo/old-brick-wall-textures-background_74190-1958.jpg
3. dark clouds https://image.freepik.com/free-photo/dark-grunge-texture_1048-4055.jpg?1
4. light gray wood https://image.freepik.com/free-photo/rustic-weathered-wood-surface-with-long-boards-lined-up_24972-248.jpg
5. old brick https://image.freepik.com/free-photo/old-brick-wall-textures-background_74190-1958.jpg
6. Dark grunge https://image.freepik.com/free-photo/dark-grunge-texture_1048-4055.jpg?1
7. light french looking bckgrd https://png.pngtree.com/thumb_back/fh260/back_pic/02/68/42/5957908fe6d9740.jpg
*/
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}
/* html {
  background: url(https://www.freepik.com/free-photo/texture-background_1167413.htm);
  background-repeat: no-repeat;
background-size: 100% 200%;
background-position: initial;
} */
section {
  padding: 150px 0;
}

#clock {
  position: relative;
  padding: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
}

#countdownText span {
  display: none;
}

#countdownText.opened .close, #countdownText.closed .open {
  display: inline;
  font-size: 50px;
}

spacer {
  padding: 100px;
}

.navbar {
  /* background-color: #dddc9d; */
  font-family: 'Vidaloka';
}
/* .navbar-light .navbar-brand {
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
} */
.flex-container{
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;
  flex-direction: row;
    flex: 1;
    float: left;
}
/*
}
.featItem{
  height: 5px;
  width: 5px;
  border-color: red;
  border: 1px;
} */
.sidebar{
  float: left;
  width: 30%;
  height: 100%;
  background-color: khaki;
  z-index: 2;
  flex-direction: column;
  position: absolute;
 flex-flow: column;
}

.site-wrapper {
  height: 300px; /* Temp */
  overflow: hidden;
  position: relative;
  width: 100%;
}

.site-canvas {
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -ms-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.site-canvas--active {
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transform: translate3d(300px, 0, 0);
  -moz-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  -o-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.site-menu {
  background: rgb(241, 241, 61);
  color: White;
  height: 100%;
  left: -300px;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 300px;
  animation: blink;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.site-content {
  position: relative;
}

.close-canvas {
  background-color: transparent;
  bottom: 0;
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.close-canvas--active {
  display: block;
}

/* Extra... */

.header {
  background-color: rgb(201, 201, 199);
  padding: 15px;
  position: relative;
}

.header a {
  color: White;
  text-decoration: none;
}

.toggle-nav {
  font-size: 2.8em;
  left: .3em;
  margin-top: -.7em;
  position: absolute;
  top: 50%;
}

h1 {
  margin: 0;
  padding-left: 1em;
}
h2 {
  margin-top: 50px;
}

.content {
  padding: 15px;
}

.lamps {
  max-width: 1200px;
}

/*controls lamps in navbar */
.silouette {
  background-image: url(../images/navlamps.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 87%;
  /* height: 121%; */
  padding-bottom: 7%;
  padding-top: 2%;
  margin-bottom: -1%;
  margin-top: -1%;
  margin-right: -25%;
  margin-left: 3%;
  padding-left: 31%;
  padding-right: 7%;
  padding-top: 3%;
}
/*Controls font size for navbar buttons */
#navbarNav {
   width: 100%;
  font-size: 30px;
  font-weight: 900;
}

/* controls navbar */
.navbar-expand-lg {
border: black;
border-style: double;
border-radius: 2px 2px 75px 75px;;
box-shadow: 12px 14px 15px rgba(0, 0, 0, 0.5);
margin-top: 0%;
margin-bottom: 5%;
margin-right: 1%;
margin-left: 1%;
padding-bottom: 0%;
}

/*controls spacing for link buttons */
#linkbuttons {
   width: 100%;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}
/* controls logo */
.logoId {
  height: 174px;
  width: 382px;
  margin-bottom: 1%;
  margin-top: -1%;
}

/* controls logo and link buttons */
.container-fluid.logobuttons {
   width: 52%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}

.nav-link {
   color: black;
}
/* slider css */
#slider {
   width: 100%;
   overflow: hidden;
}

#slider .slides {
   display: block;
   width: 100%;
   height: 400px;
   margin: 0;
   padding: 0;
   float:left;
}

#slider .slide {
   float: left;
   list-style-type: none;
   width: 100%;
   height: 400px;
}

.JQimage {
  width: 100%;
  height: 400px;
}

#randy{
  height: 200px;
  width: 150px;
  border: 10px;
  border-style: solid;
  border-color: blue;
  background-color: pink;
  box-sizing: border-box;
  padding: 50px;
  margin: 50px;
  display: flex;
  justify-content: center;
  float: left;
}
#map {
  margin: 100px;
  padding: 100px;
}

.lampvideo {
  /* background-color: darkgrey; */
  margin: 66px 300px;
  border-radius: 85px;
  box-shadow: 3px 16px 31px 17px rgba(0, 0, 0, 0.5);
}
/* controls services page custom lamp vid left col text padding */
.lefttext {
  padding-left:33px;
  padding-right: 15px;
}

/* controls services page custom lamp vid right col vid padding */
.vidcol {
  padding-left:64px;
  padding-right: 45px;
}
/* controls services page custom lamp vid size */
.custlampvid {
  height: 300px;
  width: 300px;
}
.jumbotron.lampvideo{
  background-color: transparent;
}

.Jlights {
  max-height: 40%;
  width: 100%;
}