body {
  padding-top: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}


li {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: blue;
}

#clock {
  position: relative;
  padding: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

#countdownText span {
  display: none;
}

#countdownText.opened .close, #countdownText.closed .open {
  display: inline;
}

spacer {
  padding: 100px;
}

.navbar {
  background-color: rgb(121, 118, 118);
  font-family: 'Vidaloka';
  color: white;
}