@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #fffb00;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainGrey: rgb(110, 110, 110);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Vidaloka", "Lato", sans-serif;
}

/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  margin-top: -30px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--mainGrey);
  z-index: 1;
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  font-size: 20px;
}

.navbar-brand {
  font-size: 35px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  /* background-clip: text;
    color: transparent;
    text-shadow: rgb(232, 232, 7) 3px -6px 3px; */
  text-align: left;
}

.nav-icon {
  font-size: 1.5rem;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: 0px;
  right: -25px;
  background: var(--mainBlack);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}

/* --------------- End of Navbar ---------------- */
/* --------------- Hero ---------------- */
.hero {
  min-height: calc(40vh - 60px);
  background: url("/images/greybrushmetalbackgrd.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}

.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 2rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}

.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}

/* --------------- End of Hero ---------------- */
/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}

.bag-btn:hover {
  color: var(--mainWhite);
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}

.product-img {
  display: block;
  width: 100%;
  min-height: 35rem;
  transition: var(--mainTransition);
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 2.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 25px;
}

/* ---------------End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}

.showCart {
  transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}

.cart-item h4 {
  font-size: 1.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: var(--mainGrey);
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}

/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */
body {
  /* padding: 26px 50px; */
  background: url(https://image.freepik.com/free-photo/old-brick-wall-textures-background_74190-1958.jpg);
  /*background-image: url(/images/greytextbackgrdwallpaper.jpg); */
  background-repeat: repeat;
  background-size: 140%;
  background-position: initial;
}

/* Enchanted Top Jumbo */
.jumbotron {
  margin-bottom: 30px;
  background-color: #0a0a0a;
}

.jumbotron .container {
  max-width: 100%;
}

.jumbotron.prodtron {
  background-image: url(../images/navlamps.png);
}

.container.text-center {
  border-style: solid;
  border-color: darkorange;
  background-color: yellow;
  box-shadow: 7px 12px 13px 14px rgba(12, 62, 23, 0.5);
  width: 34%;
  margin: -1% 1% -1% 33%;
  padding-left: 0%;
  padding-right: 0%;
  border-radius: 83px;
  border-width: 6px;
}

.logoId {
  height: 55%;
  width: 76%;
  margin-top: 4%;
  margin-bottom: 1%;
}

/* End Top Jumbo */
/* Footer beginning */
footer {
  background-color: var(--mainGrey);
  padding: 25px;
  margin-top: 50px;
  border: 1px solid;
  height: 100px;
  position: relative;
  width: 100%;
}

#foot {
  top: 800px;
}

/* Footer ending */
/* Controls prod page prod columns */
.col-md-4 {
  position: relative;
  min-height: 1px;
  padding-right: 50px;
  padding-left: 45px;
}
.imgcontact {
  max-width: 100%;
  height: auto;
}

/* Clock beginning */
#clock {
  position: relative;
  padding: 30px;
  margin-top: 20px;
  font-family: "Vidaloka", "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: 900;
  background: var(--mainGrey);
  border: 1px solid;
}

#timer {
  letter-spacing: 10px;
}

#countdownText span {
  display: none;
}

#countdownText.opened .close,
#countdownText.closed .open {
  display: inline;
  color: var(--mainGrey);
  opacity: 1;
  font-size: 30px;
  min-height: 50px;
  margin-top: 15px;
  border: 1px solid transparent;
}

/* Clock ending */
h2 {
  text-align: center;
}

p {
  margin: -10px 0 0px;
  font-size: 25px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  footer {
    background-color: var(--mainGrey);
    padding: 25px;
    margin-top: 50px;
    border: 1px solid;
    height: 30%;
    position: relative;
    width: 100%;
  }

  #foot {
    top: 800px;
  }

  .navbar {
    position: sticky;
    margin-top: -30px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--mainGrey);
    z-index: 1;
  }

  .navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5rem;
    font-size: 15px;
  }

  .navbar-brand {
    font-size: 15px;

    text-align: left;
  }

  .nav-icon {
    font-size: 1.5rem;
  }

  .cart {
    width: 25vw;
    min-width: 450px;
  }

  .cart-btn {
    position: relative;
    cursor: pointer;
    left: 10px;
  }

  .cart-items {
    position: absolute;
    top: 0px;
    right: -20px;
    background: var(--mainBlack);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
  }

  #clock {
    position: relative;
    padding: 10px;
    margin-top: 20px;
    font-family: "Vidaloka", "Courier New", Courier, monospace;
    font-size: 10px;
    font-weight: 900;
    background: var(--mainGrey);
    border: 1px solid;
  }

  #countdownText.opened .close,
  #countdownText.closed .open {
    display: inline;
    color: var(--mainGrey);
    opacity: 1;
    font-size: 20px;
    min-height: 50px;
    margin-top: 15px;
    border: 1px solid transparent;
  }
}
