
body { padding-top: 158px;
background-color: #dddc9d;
/* background-image:url("https://images.pexels.com/photos/1213447/pexels-photo-1213447.jpeg?cs=srgb&dl=4k-wallpaper-blur-bulb-1213447.jpg&fm=jpg"); */
/* background-image:url("/images/action-blur-bulb-355904.jpg");
background-repeat: no-repeat;
background-size: 100% 200%;
background-position: initial; */
}
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}
html {
  background: url("/images/action-blur-bulb-355904.jpg") no-repeat center fixed; 
  background-size: cover;
}
section {
  padding: 150px 0;
}

#clock {
  position: relative;
  padding: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
}

#countdownText span {
  display: none;
}

#countdownText.opened .close, #countdownText.closed .open {
  display: inline;
  font-size: 50px;

}

spacer {
  padding: 100px;
}

.navbar {
  /* background-color: #dddc9d; */
  font-family: 'Vidaloka';
  color: white;
  
}
.navbar-light .navbar-brand {
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.flex-container{
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;
  flex-direction: row;
    flex: 1;
    float: left;
}
/* .box{
  height: 200px;
  width: 150px;
  border: 10px;
  border-style: solid;
  border-color: blue;
  background-color: pink;
  box-sizing: border-box;
  padding: 50px;
  margin: 50px;
  display: flex;
  justify-content: center;
  float: left;
}
.featItem{
  height: 5px;
  width: 5px;
  border-color: red;
  border: 1px;
  
} */
.sidebar{
  float: left;
  width: 30%;
  height: 100%;
  background-color: khaki;
  z-index: 2;
  flex-direction: column;
  position: absolute;
 flex-flow: column;
}

.site-wrapper {
  height: 800px; /* Temp */
  overflow: hidden;
  position: relative;  
  width: 100%;
}

.site-canvas {  
  height: 100%;
  position: relative;
  width: 100%;
  
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -ms-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
  
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.site-canvas--active {
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
  
  -webkit-transform: translate3d(300px, 0, 0);
  -moz-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  -o-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.site-menu {
  background: rgb(241, 241, 61);
  color: White;  
  height: 100%;
  left: -300px;
  padding: 15px;
  position: absolute;
  top: 0;      
  width: 300px;
  animation: blink;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.site-content {
  position: relative;
}

.close-canvas {
  background-color: transparent;
  bottom: 0;  
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.close-canvas--active {
  display: block;
}

/* Extra... */
body {
  padding: 0;
  max-width: 100%;
}

.header {
  background-color: Black;
  padding: 15px;
  position: relative;
}

.header a {
  color: White;
  text-decoration: none;
}

.toggle-nav {
  font-size: 2.8em;
  left: .3em;
  margin-top: -.7em;
  position: absolute;
  top: 50%;
}

h1 {
  color: White;
  margin: 0;
  padding-left: 1em;
}

.content {
  padding: 15px;
}