


.lamps {
   max-width: 1200px;
  
}

.test {
    background-image: url(../images/navlamps.png);
    width:100%;
    padding-bottom: 56.25%;
    
}

#navbarNav {
    width: 240px;
    padding-right: 100px;
}

.navbar-expand-lg {
    background-color: yellow;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-top: 18px;
}

#linkbuttons {
    width: 100%;
    padding-right: 191px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}